.chat-main-container{
    height: 94vh;
    padding-top: 5rem;
    margin: 0;
}
.chat-col {
    height: 70%;
}
.double-border {
    border: 0.5rem double;
}
.user-container {
    height: 100%;
    border-right: 2px solid black;
    overflow-y: auto;
    overflow-x: hidden;
}
.chat-user-list-container {
    height: 8%;
    background-color: #3f51b5;
    color: white;
    font-weight: bold;
    /* border-right: 2px solid black; */
}
ul, .user-list {
    list-style-type: none;
    padding-left: 0;
    padding: 0.5rem;
}
.selected-user {
    background-color: black !important;
}
.user-list-box {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    background-color: #E91E63;
    margin-bottom: 0.5rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.dp {
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 50%;
    margin-right: 0.5rem;
}
.user-name {
    font-size: 1.5rem;
    text-transform: capitalize;
}
.last-seen {
    font-size: 1.25rem;
    font-weight: 100;
}
.msg-heading-container {
    height: 5rem;
    background-color: #3f51b5;
    color: white;
    font-weight: bold;
    height: 8%;
}
.msg-container {
    height: 92%;
}
.msg-loading-container {
    height: 92%;
}
.msg-list-container {
    height: 88%;
    padding: 1rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
.msg-box {
    width: 80%;
    float: left;
}
.send-btn {
    width: 20%;
    float: right;
}
.msg-footer {
    height: 12%;
    padding: 1rem;
}

.msg-detail
{
    display: flex;
    flex-direction: column;
    max-height: 35rem;
    overflow-y: auto;
    min-height: fit-content;
    border: 1px solid grey; 
    padding: 0.5rem;
    max-width: 70%;
    margin-bottom: 0.5rem !important;
}
.msg-bg-left {
    align-self: flex-start;
    background-color:green;
}
.msg-bg-right{
    align-self: flex-end;
    background-color: #E91E63;

}
.message-text-container {
    max-height: 70%;
    overflow-y: auto;
}